@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 5%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}


/*LOGO*/
.logo {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .logo:hover{
      transform: scale(1.1);
  }
  
  .logo .lux {
    color: rgb(233, 172, 18);
  }
  .logo .adb {
    color: rgb(250, 247, 236);
  }



  /*NAVIGATION*/
nav{
	display: flex;
	justify-content: center;
	justify-items: center;
	text-align: center;
	text-transform: uppercase;
	align-items: center;
	font-weight: 500;
	width: 60%;
}

.menu a{
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	margin: 0 20px;
}

.menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
  }
  .menu a {
    padding: 0.3em 0;
    color: #fffafa;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
  }
  .menu a:before,
  .menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: rgb(233, 172, 18);
  }
  .menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
  }
  .menu li:hover a,
  .menu .current a {
    transform: translateY(100%);
  }


  /*SOCIAL MEADIA*/
.social-media{
	display: flex;
	justify-content: flex-end;
	width: auto;
	list-style: none;	
}

.social-media li {
	margin: 5px;
}

.social-media li a{
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

.social-media li a i{
	color: white;
	transform: translateY(0);
	transition: .3s;
	font-size: 20px;
}

.social-media li:hover a i{
	transform: translateY(-100%);
}

.social-media li a i::after {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
}

.social-media li:nth-child(1) a i::after {
	content: '\f16d';
	color: #833AB4;
}

.social-media li:nth-child(2) a i::after {
	content: '\f09a';
	color: #3b5998 ;
}

.social-media li:nth-child(3) a i::after {
	content: '\e61a';
	color: black;
}

.social-media li:nth-child(4) a i::after {
	content: '\f1b4';
	color: #131418;
}

.social-media li:nth-child(5) a i::after {
	content: '\e07b';
	color: #00f2ea;
}

.social-media li:nth-child(6) a i::after {
	content: '\f167';
	color: #FF0000;
}

/*BACKGROUND*/

.container{
	height: 100vh;
	width: 100%;
	position: relative;
}

.overlay{
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	animation: fade 20s ease-in-out infinite alternate;
}

img:nth-of-type(1) {
	animation-delay: 0s;
}

img:nth-of-type(2) {
	animation-delay: 5s;
}

img:nth-of-type(3) {
	animation-delay: 10s;
}

img:nth-of-type(4) {
	animation-delay: 15s;
}


@keyframes fade {
	0% {
		opacity: 1;
	}
	
	25% {
		opacity: 0;
	}
	
	50% {
		opacity: 0;
	}

	75% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

